body,
html {
  font-size: 16px;
  box-sizing: border-box;
}

input {
  border: none;
  border-bottom: 0.0625rem solid lightblue;
  margin-bottom: 0.3125rem;
  background-color: aliceblue;
  padding: 0.3125rem;
}

.validation-error {
  border-color: red;
}

.btn {
  border: 0;
  background-color: lightcoral;
  padding: 0.625rem 1.25rem;
  border-radius: 1.25rem;
  color: white;
  font-weight: bold;
  margin: 0.625rem;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.btn-icon {
  padding-right: 30px;
}

.btn span {
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-55%);
}
